@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string name = ViewBag.adminName;
    string email = ViewBag.adminEmail;
    long phone = ViewBag.adminPhone;
}
<style>
    userTable {
        background-color:blue;
    }
</style>
<div id="adminInfo">
    <h1>Welcome, @name!</h1>
    <h3>Email: @email</h3>
    <h3>Phone: @phone</h3>
</div>
<div id="adminButtons">
    <input id="viewUsers" type="button" value="View User Accounts" onclick="loadAll()" />
    <input id="viewTransactions" type="button" value="View Transactions" />
</div>
