<div id="LoginForm">
    <input type="text" id="email" name="Email" placeholder="Email Address" style="margin-bottom:20px" /><br />
    <input type="password" id="password" name="Password" placeholder="Password" style="margin-bottom:20px" /><br />
    <button type="button" id="SubmitButton" onclick="login()">Login</button>
</div>