<div id="LoginForm">
    <input type="text" id="Email" name="Email" placeholder="Email Address" />
    <input type="password" id="Password" name="Password" placeholder="Password" />
    <button type="button" id="SubmitButton" onclick="login()">Login</button>
</div>