<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header" style="text-align:center">
        <h1>Asynchronous Banking Solutions</h1>
    </div>
    <div id="navigationBar" style="text-align:center">
        <input type="button" id="toDashBoardBtn" value="Dashboard" onclick="loadView('userDashBoard')"/>
        <input type="button" id="toTrasacHistoryBtn" value="Transaction History" onclick="loadView('transacHistory')"/>
    </div>
    <div id="main" style="text-align:center; height:500px; padding:50px">

    </div>
    <div id="footer" style="text-align:center">
        <p>Asynchronous Banking Solutions 1994 All Rights Reserved</p>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>