@{
    string password = ViewBag.password;
    string phone = ViewBag.phone;
    string address = ViewBag.address;
}

<div id="LoginForm">
    <input type="text" id="password" name="password" placeholder="@password" style="margin-bottom:20px" /><br />
    <input type="text" id="phone" name="phone" placeholder="@phone" style="margin-bottom:20px" /><br />
    <input type="text" id="address" name="address" placeholder="@address" style="margin-bottom:20px" /><br />
    <button type="button" id="SubmitButton" onclick="login()">Login</button>
</div>