@{
    string password = ViewBag.password;
    string phone = ViewBag.phone;
    string address = ViewBag.address;
}

<div id="LoginForm">
    <p>New password: </p>
    <input type="text" id="password" name="password" placeholder="@password" style="margin-bottom:20px" /><br />
    <p>New phone number: </p>
    <input type="text" id="phone" name="phone" placeholder="@phone" style="margin-bottom:20px" /><br />
    <p>New address: </p>
    <input type="text" id="address" name="address" placeholder="@address" style="margin-bottom:20px" /><br />
    <button type="button" id="SubmitButton" onclick="updateUserInfo()">Update my info</button>
</div>